<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.iodev.formykerala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OTPVerification"></activity>
        <activity android:name=".Activities.OTPValidation"></activity>
        <activity android:name=".Activities.ReceiverRoleSelectActivity"></activity>
        <activity android:name=".Activities.PinSelection"></activity>
        <activity android:name=".Activities.ReceiverLogin">
        </activity>
        <activity android:name=".Activities.ReceiverSelectRequirement"></activity>
        <activity android:name=".Activities.ReceiverRequirementsStatus">

        </activity>
        <activity android:name=".Activities.ReceiverDetails"></activity>
        <activity android:name=".Activities.AcceptorsView"></activity>
        <activity android:name=".Activities.PinReset">
        </activity>
        <activity android:name=".Activities.ForgotPinOTPValidation"></activity>
        <activity android:name=".Activities.ForgotPin"></activity>
    </application>

</manifest>